In [1]:
# pandas is sql table form datastructure
import pandas as pd
# numpy is a multidimentional array
import numpy as np

# 1. Object creation
# creating series
series = pd.Series([1,3,5,np.nan,6,8])
#print(series)

# creating datetime index using dataframe
dates = pd.date_range('20130101',periods=6)
#print(dates)

#print(np.random.randn(6,4))
# creating data frame
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

#3. Selection
# selecing single column by giving column name
print(df["A"])

# data[row_start_index:row_end_index]
print(df[0:3])

# selection by label
#
print(df.loc[dates[0]])

# Selecting on a multi-axis by label:
print(df.loc[:,["A","B"]])

# Showing label slicing, both endpoints are included:
print(df.loc['20130102':'20130104',['A','B']])

print(df.loc['20130102',['A','B']])

# getting scalar values like matrix [a11]
print(df.loc[dates[0],'A'])

print(df.at[dates[0],'A'])

# Selection by position
# passing the integer values
print(df.iloc[3])

print(df.iloc[3:5,0:2])

print(df.iloc[[1,2,4],[0,2]])

print(df.iloc[1:3,:])

print(df.iloc[:,1:3])

# getting scalar values like matrix [a11]
print(df.iloc[1,1])
print(df.iat[1,1])

# Filtering
# Boolean Indexing

print(df[df.A > 0])
print(df[df>0])

# create a
df2 = df.copy()
# check difference
#df2 = df

df2['E'] = ['one', 'one','two','three','four','three']
print(df)
print(df2)

# isin

print(df2[df2['E'].isin(['two','four'])])

# Setting values
# setting a new column automatically
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
print(s1)
df['F'] = s1
print(df)

# Setting values by label:
df.at[dates[0],'A'] = 0
# Setting values by position
df.iat[0,1] = 0
# Setting by assigning with a NumPy array
df.loc[:,'D'] = np.array([5] * len(df))
print(df)

# where operation with setting.
df2 = df.copy()
df2[df2 > 0] = -df2
print(df2)

2013-01-01   -1.071057
2013-01-02   -1.218242
2013-01-03    1.215449
2013-01-04   -1.650671
2013-01-05    0.284022
2013-01-06    0.467566
Freq: D, Name: A, dtype: float64
                   A         B         C         D
2013-01-01 -1.071057  0.592776  0.475516 -0.323638
2013-01-02 -1.218242 -1.324606 -0.597078 -1.651146
2013-01-03  1.215449 -2.066950  1.435922  1.096423
A   -1.071057
B    0.592776
C    0.475516
D   -0.323638
Name: 2013-01-01 00:00:00, dtype: float64
                   A         B
2013-01-01 -1.071057  0.592776
2013-01-02 -1.218242 -1.324606
2013-01-03  1.215449 -2.066950
2013-01-04 -1.650671 -0.624572
2013-01-05  0.284022  0.792324
2013-01-06  0.467566  1.453806
                   A         B
2013-01-02 -1.218242 -1.324606
2013-01-03  1.215449 -2.066950
2013-01-04 -1.650671 -0.624572
A   -1.218242
B   -1.324606
Name: 2013-01-02 00:00:00, dtype: float64
-1.0710568934801796
-1.0710568934801796
A   -1.650671
B   -0.624572
C    0.831716
D   -0.637117
Name: 2013-01-04 00:00:00, dtype: float64
                   A         B
2013-01-04 -1.650671 -0.624572
2013-01-05  0.284022  0.792324
                   A         C
2013-01-02 -1.218242 -0.597078
2013-01-03  1.215449  1.435922
2013-01-05  0.284022 -1.010394
                   A         B         C         D
2013-01-02 -1.218242 -1.324606 -0.597078 -1.651146
2013-01-03  1.215449 -2.066950  1.435922  1.096423
                   B         C
2013-01-01  0.592776  0.475516
2013-01-02 -1.324606 -0.597078
2013-01-03 -2.066950  1.435922
2013-01-04 -0.624572  0.831716
2013-01-05  0.792324 -1.010394
2013-01-06  1.453806 -0.022193
-1.324605978413929
-1.324605978413929
                   A         B         C         D
2013-01-03  1.215449 -2.066950  1.435922  1.096423
2013-01-05  0.284022  0.792324 -1.010394  1.664026
2013-01-06  0.467566  1.453806 -0.022193  1.086371
                   A         B         C         D
2013-01-01       NaN  0.592776  0.475516       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03  1.215449       NaN  1.435922  1.096423
2013-01-04       NaN       NaN  0.831716       NaN
2013-01-05  0.284022  0.792324       NaN  1.664026
2013-01-06  0.467566  1.453806       NaN  1.086371
                   A         B         C         D
2013-01-01 -1.071057  0.592776  0.475516 -0.323638
2013-01-02 -1.218242 -1.324606 -0.597078 -1.651146
2013-01-03  1.215449 -2.066950  1.435922  1.096423
2013-01-04 -1.650671 -0.624572  0.831716 -0.637117
2013-01-05  0.284022  0.792324 -1.010394  1.664026
2013-01-06  0.467566  1.453806 -0.022193  1.086371
                   A         B         C         D      E
2013-01-01 -1.071057  0.592776  0.475516 -0.323638    one
2013-01-02 -1.218242 -1.324606 -0.597078 -1.651146    one
2013-01-03  1.215449 -2.066950  1.435922  1.096423    two
2013-01-04 -1.650671 -0.624572  0.831716 -0.637117  three
2013-01-05  0.284022  0.792324 -1.010394  1.664026   four
2013-01-06  0.467566  1.453806 -0.022193  1.086371  three
                   A         B         C         D     E
2013-01-03  1.215449 -2.066950  1.435922  1.096423   two
2013-01-05  0.284022  0.792324 -1.010394  1.664026  four
2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64
                   A         B         C         D    F
2013-01-01 -1.071057  0.592776  0.475516 -0.323638  NaN
2013-01-02 -1.218242 -1.324606 -0.597078 -1.651146  1.0
2013-01-03  1.215449 -2.066950  1.435922  1.096423  2.0
2013-01-04 -1.650671 -0.624572  0.831716 -0.637117  3.0
2013-01-05  0.284022  0.792324 -1.010394  1.664026  4.0
2013-01-06  0.467566  1.453806 -0.022193  1.086371  5.0
                   A         B         C  D    F
2013-01-01  0.000000  0.000000  0.475516  5  NaN
2013-01-02 -1.218242 -1.324606 -0.597078  5  1.0
2013-01-03  1.215449 -2.066950  1.435922  5  2.0
2013-01-04 -1.650671 -0.624572  0.831716  5  3.0
2013-01-05  0.284022  0.792324 -1.010394  5  4.0
2013-01-06  0.467566  1.453806 -0.022193  5  5.0
                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.475516 -5  NaN
2013-01-02 -1.218242 -1.324606 -0.597078 -5 -1.0
2013-01-03 -1.215449 -2.066950 -1.435922 -5 -2.0
2013-01-04 -1.650671 -0.624572 -0.831716 -5 -3.0
2013-01-05 -0.284022 -0.792324 -1.010394 -5 -4.0
2013-01-06 -0.467566 -1.453806 -0.022193 -5 -5.0