In [1]:
# pandas is sql table form datastructure
import pandas as pd
# numpy is a multidimentional array
import numpy as np

# 1. Object creation
# creating series
series = pd.Series([1,3,5,np.nan,6,8])
#print(series)

# creating datetime index using dataframe
dates = pd.date_range('20130101',periods=6)
#print(dates)

#print(np.random.randn(6,4))
# creating data frame
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df['F'] = s1
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

df1.loc[dates[0]:dates[1],'E'] = 1

print(df1)
# To drop any rows that have missing data.
print(df1.dropna(how='any'))
# Filling missing data.
print(df1.fillna(value=5))
#To get the boolean mask where values are nan.
print(pd.isna(df1))

                   A         B         C         D    F    E
2013-01-01  1.003632 -0.463016 -0.467531  1.635228  NaN  1.0
2013-01-02  1.208251 -1.030158 -0.501952  0.324330  1.0  1.0
2013-01-03 -1.458502  0.465265  0.910247  0.040872  2.0  NaN
2013-01-04  0.359978 -0.765210 -0.544544 -0.453208  3.0  NaN
                   A         B         C        D    F    E
2013-01-02  1.208251 -1.030158 -0.501952  0.32433  1.0  1.0
                   A         B         C         D    F    E
2013-01-01  1.003632 -0.463016 -0.467531  1.635228  5.0  1.0
2013-01-02  1.208251 -1.030158 -0.501952  0.324330  1.0  1.0
2013-01-03 -1.458502  0.465265  0.910247  0.040872  2.0  5.0
2013-01-04  0.359978 -0.765210 -0.544544 -0.453208  3.0  5.0
                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True